// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #1d4ed8;
  --ion-color-primary-rgb: 29, 78, 216;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #1a45be;
  --ion-color-primary-tint: #3461dc;

  --ion-color-danger: #b91c1c;
  --ion-color-danger-rgb: 185, 28, 28;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #a31919;
  --ion-color-danger-tint: #c03333;
}
