ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

ion-list {
  margin-top: 20px;
}

ion-item {
  --padding-start: 16px;
  --inner-padding-end: 16px;
}

ion-label h2 {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 4px;
}

ion-label h3 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 2px;
}

ion-label p {
  font-size: 0.9rem;
  color: var(--ion-color-medium);
}

ion-radio {
  margin-right: 16px;
}
